@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 btns
5.0 GENERAL
6.0 GENERAL
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://portinos.s3.amazonaws.com/libs/css/intel-base.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/*para ocultar texto y que lo lean los lectores de no videntes*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*para eliminar los float*/
header, section, footer, aside {
  clear: both; }

/*imagen al 100% de ancho responsive*/
.image-responsive {
  width: 100%;
  height: auto; }

/*input al 100%*/
input, select {
  display: block;
  width: 100%; }

/*elimina el diseño por defecto en el iphone*/
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

button {
  border: none;
  background-color: transparent; }

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/
/*FUENTES*/
/*COLORES*/
/* GRADIENTES */
/*GRID OPTIONS*/
/*--------------------------------------------------------------
4.0 btns
--------------------------------------------------------------*/
/*FUENTES*/
/*COLORES*/
/* GRADIENTES */
/*GRID OPTIONS*/
.main-btn {
  background: #7832b2;
  background: -moz-linear-gradient(90deg, #7832b2 0%, #391855 100%);
  background: -webkit-linear-gradient(90deg, #7832b2 0%, #391855 100%);
  background: linear-gradient(90deg, #7832b2 0%, #391855 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7832b2",endColorstr="#391855",GradientType=1);
  -webkit-box-shadow: 15px 50px 62px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 50px 62px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 15px 50px 62px 10px rgba(0, 0, 0, 0.75);
  color: #fefefe;
  font-family: "IntelClearBold";
  font-size: 1.4vw;
  line-height: 1.67;
  letter-spacing: -0.2px;
  padding: 0.5vw 4vw;
  cursor: pointer; }

/*****************/
/**** MOBILE ****/
/*****************/
@media screen and (max-width: 768px) {
  .main-btn {
    font-size: 5vw;
    line-height: 1.67;
    letter-spacing: -0.2px;
    padding: 0.75vw 7vw; } }
/*******************/
/**** XL SCREEN ****/
/*******************/
@media screen and (min-width: 1280px) {
  .main-btn {
    font-size: 17px;
    padding: 9.6px 50px; } }
/*--------------------------------------------------------------
5.0 Slick carousel styles
--------------------------------------------------------------*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*--------------------------------------------------------------
6.0 General
--------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: black; }

#___gatsby {
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  font-size: 100%;
  width: 100%;
  max-width: 1280px; }

h1,
h2 {
  font-family: "IntelClearPro"; }

h3,
h4 {
  font-family: "IntelClearBold"; }

h5,
h6 {
  font-family: "IntelClearThin"; }

p {
  font-family: "IntelClear"; }

sup {
  font-size: 57%; }

/*****************/
/**** DESKTOP ****/
/*****************/
.home {
  background: black;
  background-image: url("../img/home-background-dk.png");
  background-size: cover;
  color: white;
  min-height: 100vh;
  position: relative; }
  .home .intel-logo {
    position: absolute;
    top: 5%;
    right: 7.6%;
    width: 6.5vw; }
  .home .top-wrapper {
    padding: 8.2vw 0 0 7.4vw;
    position: relative; }
    .home .top-wrapper .headlines-wrapper h1 {
      font-size: 5.85vw;
      line-height: 0.91;
      letter-spacing: -0.8px;
      text-align: left;
      color: #fefefe;
      width: 70%; }
    .home .top-wrapper .headlines-wrapper p {
      font-size: 2.18vw;
      font-weight: bold;
      margin-top: 1.65vw; }
    .home .top-wrapper .coreFamily {
      position: absolute;
      top: 3vw;
      right: 0.3vw;
      width: 41vw; }
  .home .links-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0% auto;
    padding: 0%;
    width: 87%; }
    .home .links-wrapper .link {
      background-size: cover;
      width: 28vw;
      height: 28vw;
      display: flex;
      justify-content: center;
      align-items: center; }
      .home .links-wrapper .link a {
        font-family: "IntelClearPro", serif;
        font-size: 3.3vw;
        line-height: 1.58;
        letter-spacing: -0.4px;
        text-align: center;
        color: #fefefe; }
      .home .links-wrapper .link.casual {
        background-image: url("../img/home-casual-btn.png"); }
      .home .links-wrapper .link.competitivo {
        background-image: url("../img/home-advanced-btn.png"); }
      .home .links-wrapper .link.extremo {
        background-image: url("../img/home-extreme-btn.png"); }
  .home .slick-slider {
    display: none; }
  .home .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0; }

.wrapper {
  max-width: 1280px; }
  .wrapper.casual {
    background: url("../img/casual-background.png");
    background-size: cover; }
    .wrapper.casual .performance .specs-wrapper table.comparison .frequency {
      width: 8.5vw; }
    .wrapper.casual .performance .specs-wrapper table.comparison .cores {
      width: 3vw; }
    .wrapper.casual .performance .specs-wrapper table.comparison .threads {
      width: 7vw; }
    .wrapper.casual .performance .specs-wrapper table.comparison .cache {
      width: 3vw; }
    .wrapper.casual .performance .specs-wrapper table.comparison .locked {
      width: 2vw; }
  .wrapper.competitivo {
    background: url("../img/competitivo-background.png");
    background-size: cover; }
    .wrapper.competitivo .performance .specs-wrapper table.comparison .frequency {
      width: 8.5vw; }
    .wrapper.competitivo .performance .specs-wrapper table.comparison .cores {
      width: 3vw; }
    .wrapper.competitivo .performance .specs-wrapper table.comparison .threads {
      width: 7vw; }
    .wrapper.competitivo .performance .specs-wrapper table.comparison .cache {
      width: 3vw; }
    .wrapper.competitivo .performance .specs-wrapper table.comparison .locked {
      width: 2vw; }
  .wrapper.extremo {
    background: url("../img/extremo-background.png");
    background-size: cover; }
    .wrapper.extremo .performance .specs-wrapper table.comparison .frequency {
      width: 8.5vw; }
    .wrapper.extremo .performance .specs-wrapper table.comparison .cores {
      width: 3vw; }
    .wrapper.extremo .performance .specs-wrapper table.comparison .threads {
      width: 7vw; }
    .wrapper.extremo .performance .specs-wrapper table.comparison .cache {
      width: 3vw; }
    .wrapper.extremo .performance .specs-wrapper table.comparison .locked {
      width: 2vw; }
  .wrapper .intro {
    padding-left: 7.81vw;
    width: 40%; }
    .wrapper .intro .headlines-wrapper h2 {
      font-size: 5.85vw;
      line-height: 0.91;
      letter-spacing: -0.75px;
      text-align: left;
      color: #fefefe; }
    .wrapper .intro .headlines-wrapper p {
      font-weight: bold;
      font-size: 1.95vw;
      line-height: 1.2;
      letter-spacing: -0.5px;
      text-align: left;
      color: #fefefe;
      margin-top: 1.5vw; }
    .wrapper .intro .processor-info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      margin: 6vw 0 7vw; }
      .wrapper .intro .processor-info .badges {
        display: flex; }
      .wrapper .intro .processor-info img {
        margin-right: 3vw;
        width: 8.5vw;
        box-shadow: 0 0 30px #7932b2;
        -webkit-box-shadow: 0 0 30px #7932b2;
        -moz-box-shadow: 0 0 30px #7932b2; }
      .wrapper .intro .processor-info p {
        font-size: 1.53vw;
        line-height: 1.28;
        text-align: left;
        color: #ffffff; }
        .wrapper .intro .processor-info p span.blue {
          display: block;
          color: #94c9ff;
          font-size: 2.4vw;
          font-weight: bold;
          font-style: italic;
          letter-spacing: -0.31px; }
  .wrapper .performance {
    padding: 4.5vw 7.81vw 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    .wrapper .performance .bullets-wrapper {
      width: 52%; }
      .wrapper .performance .bullets-wrapper h2 {
        font-size: 5.33vw;
        font-weight: bold;
        line-height: 0.86;
        letter-spacing: 0.34px;
        text-align: left;
        color: #94c9ff; }
      .wrapper .performance .bullets-wrapper ul {
        padding-left: 8.5vw;
        margin: 3.1vw 0 0; }
        .wrapper .performance .bullets-wrapper ul li {
          font-family: "IntelClear", serif;
          position: relative;
          margin: 1.75vw 0;
          font-size: 1.5vw; }
          .wrapper .performance .bullets-wrapper ul li::before {
            background-image: url("../img/list-item.png");
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            left: -60px; }
    .wrapper .performance .specs-wrapper table.comparison caption {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      margin: 3% 0; }
      .wrapper .performance .specs-wrapper table.comparison caption span {
        font-family: "IntelClearPro";
        font-size: 2.95vw;
        font-weight: bold;
        line-height: 0.95;
        text-align: center;
        color: #94c9ff; }
      .wrapper .performance .specs-wrapper table.comparison caption img {
        width: 7vw;
        margin-left: 2vw;
        box-shadow: 0 0 30px #7932b2;
        -webkit-box-shadow: 0 0 30px #7932b2;
        -moz-box-shadow: 0 0 30px #7932b2; }
    .wrapper .performance .specs-wrapper table.comparison tr.row td.left {
      background-image: url("../img/td-left-background.png");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 11.7vw;
      height: 5vw;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .wrapper .performance .specs-wrapper table.comparison tr.row td.left .data-wrapper p {
        font-size: 1.4vw;
        line-height: 1.11;
        letter-spacing: -0.45px;
        text-align: right;
        color: #ffffff; }
        .wrapper .performance .specs-wrapper table.comparison tr.row td.left .data-wrapper p span.blue {
          color: #94c9ff;
          font-weight: bold;
          display: block; }
    .wrapper .performance .specs-wrapper table.comparison tr.row:nth-of-type(odd) td.right {
      background-image: url("../img/td-odd-background.png");
      background-size: cover; }
    .wrapper .performance .specs-wrapper table.comparison tr.row:nth-of-type(even) td.right {
      background-image: url("../img/td-even-background.png");
      background-size: cover; }
    .wrapper .performance .specs-wrapper table.comparison tr.row td.right .data-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0.7vw;
      padding-left: 6vw;
      height: 5vw;
      width: 22vw; }
      .wrapper .performance .specs-wrapper table.comparison tr.row td.right .data-wrapper .icon img {
        max-width: 100%; }
      .wrapper .performance .specs-wrapper table.comparison tr.row td.right .data-wrapper p {
        font-family: IntelClear;
        font-size: 1.5vw;
        font-weight: bold;
        line-height: 1.3;
        letter-spacing: -0.5px;
        text-align: left;
        color: #94c9ff;
        width: 6.5vw; }
        .wrapper .performance .specs-wrapper table.comparison tr.row td.right .data-wrapper p span.smaller {
          display: block;
          font-size: 1vw; }
  .wrapper .animation .animation-component-wrapper {
    padding: 0 7.81vw;
    margin: 0 auto; }
    .wrapper .animation .animation-component-wrapper > div {
      display: flex;
      flex-flow: row nowrap; }
  .wrapper .art .art-wrapper {
    display: flex;
    justify-content: center; }
    .wrapper .art .art-wrapper img {
      width: 90%; }
  .wrapper .art .btn-wrapper {
    display: flex;
    justify-content: center; }
  .wrapper footer {
    padding: 5% 7.81vw; }
    .wrapper footer p.legal {
      font-family: "IntelClearThin", sans-serif;
      font-size: 0.85vw;
      font-weight: 300;
      line-height: 1.45;
      letter-spacing: -0.06px; }

/*****************/
/**** MOBILE ****/
/*****************/
@media screen and (max-width: 768px) {
  .home {
    background-image: url("../img/home-background-mb.png");
    height: auto; }
    .home .intel-logo {
      display: none; }
    .home .top-wrapper {
      padding: 8.2vw 0 5vw;
      position: relative; }
      .home .top-wrapper .headlines-wrapper h1 {
        font-size: 12.6vw;
        letter-spacing: -0.6px;
        text-align: center;
        width: 100%; }
        .home .top-wrapper .headlines-wrapper h1 span {
          display: block; }
      .home .top-wrapper .headlines-wrapper p {
        font-size: 5.2vw;
        text-align: center;
        line-height: 1.15;
        letter-spacing: -0.7px;
        margin-top: 9vw; }
      .home .top-wrapper .coreFamily {
        display: none; }
    .home .links-wrapper {
      width: 100%; }
      .home .links-wrapper.desktop {
        display: none; }
      .home .links-wrapper .link {
        width: 70vw;
        height: 70vw;
        margin: 0 auto; }
        .home .links-wrapper .link a {
          font-size: 7.5vw;
          line-height: 0.98; }
    .home .slick-slider {
      display: block; }
    .home .btn-wrapper {
      margin: 3vw 0 0; }

  .wrapper.casual {
    background: url("../img/casual-background-mb.png");
    background-size: cover; }
  .wrapper .intro {
    padding-left: 5.6vw;
    width: 57%; }
    .wrapper .intro .headlines-wrapper h2 {
      font-size: 19vw;
      line-height: 0.72;
      letter-spacing: 1.43px; }
    .wrapper .intro .headlines-wrapper p {
      font-size: 4.8vw;
      line-height: 1.25;
      margin-top: 7vw; }
    .wrapper .intro .processor-info {
      flex-flow: column nowrap;
      align-items: flex-start;
      margin-bottom: 9vw; }
      .wrapper .intro .processor-info img {
        width: 25vw;
        margin: 2vw 5vw 5vw 0; }
      .wrapper .intro .processor-info p {
        font-size: 3.9vw;
        line-height: 1.28;
        text-align: left;
        color: #ffffff; }
        .wrapper .intro .processor-info p span.blue {
          font-size: 6.16vw; }
  .wrapper .performance {
    padding: 7vw 5.6vw 0;
    flex-flow: column nowrap;
    align-items: flex-start; }
    .wrapper .performance .bullets-wrapper {
      width: 100%; }
      .wrapper .performance .bullets-wrapper h2 {
        font-size: 12.6vw;
        line-height: 0.93;
        letter-spacing: 0.57px; }
      .wrapper .performance .bullets-wrapper ul {
        padding-left: 12vw;
        margin: 9vw 0 0; }
        .wrapper .performance .bullets-wrapper ul li {
          margin: 3.75vw 0;
          font-size: 3.92vw; }
          .wrapper .performance .bullets-wrapper ul li::before {
            top: -7px; }
    .wrapper .performance .specs-wrapper {
      width: 100%;
      margin: 5% 0; }
      .wrapper .performance .specs-wrapper table.comparison {
        width: 100%;
        position: relative; }
        .wrapper .performance .specs-wrapper table.comparison::after {
          content: '';
          position: absolute;
          bottom: 4%;
          left: 50%;
          width: 1px;
          height: 70%;
          background: white; }
        .wrapper .performance .specs-wrapper table.comparison caption {
          justify-content: center;
          margin: 5% 0; }
          .wrapper .performance .specs-wrapper table.comparison caption span {
            font-size: 7.8vw;
            letter-spacing: 0.59px; }
          .wrapper .performance .specs-wrapper table.comparison caption img {
            width: 16.84vw;
            margin-left: 4vw; }
        .wrapper .performance .specs-wrapper table.comparison tr.row td.left {
          width: 36vw;
          height: 15vw; }
          .wrapper .performance .specs-wrapper table.comparison tr.row td.left .data-wrapper p {
            font-size: 4.35vw; }
        .wrapper .performance .specs-wrapper table.comparison tr.row:nth-of-type(odd) td.right, .wrapper .performance .specs-wrapper table.comparison tr.row:nth-of-type(even) td.right {
          background: none; }
        .wrapper .performance .specs-wrapper table.comparison tr.row td.right .data-wrapper {
          padding: 0.7vw;
          padding-left: 6vw;
          width: 40vw;
          height: 15vw;
          justify-content: flex-start; }
          .wrapper .performance .specs-wrapper table.comparison tr.row td.right .data-wrapper .icon {
            display: none; }
          .wrapper .performance .specs-wrapper table.comparison tr.row td.right .data-wrapper p {
            font-size: 4.35vw;
            line-height: 0.91;
            width: auto; }
            .wrapper .performance .specs-wrapper table.comparison tr.row td.right .data-wrapper p span.smaller {
              font-size: 90%; }
  .wrapper .animation .animation-component-wrapper {
    padding: 0 5.6vw; }
    .wrapper .animation .animation-component-wrapper > div {
      display: flex;
      flex-flow: column nowrap; }
  .wrapper .art .art-wrapper {
    overflow: hidden; }
    .wrapper .art .art-wrapper img {
      width: 130%; }
  .wrapper .art .btn-wrapper {
    display: flex;
    justify-content: center; }
  .wrapper footer {
    padding: 15% 5.6vw; }
    .wrapper footer p.legal {
      font-size: 2.2vw; } }
/*******************/
/**** XL SCREEN ****/
/*******************/
@media screen and (min-width: 1280px) {
  .home {
    min-height: 100vh; }
    .home .intel-logo {
      width: 83.2px; }
    .home .top-wrapper {
      padding: 104.95px 0 0 95px; }
      .home .top-wrapper .headlines-wrapper h1 {
        font-size: 74.88px; }
      .home .top-wrapper .headlines-wrapper p {
        font-size: 27.9px;
        margin-top: 21.12px; }
      .home .top-wrapper .coreFamily {
        top: 38.4px;
        right: 3.84px;
        width: 524.8px; }
    .home .links-wrapper .link {
      width: 358px;
      height: 358px; }
      .home .links-wrapper .link a {
        font-size: 42.25px; }
    .home .btn-wrapper {
      margin: 12.8px 0; }

  .wrapper.casual .performance .specs-wrapper table.comparison .frequency {
    width: 108.8px; }
  .wrapper.casual .performance .specs-wrapper table.comparison .cores {
    width: 38.4px; }
  .wrapper.casual .performance .specs-wrapper table.comparison .threads {
    width: 89.6px; }
  .wrapper.casual .performance .specs-wrapper table.comparison .cache {
    width: 38.4px; }
  .wrapper.casual .performance .specs-wrapper table.comparison .locked {
    width: 25.6px; }
  .wrapper.competitivo .performance .specs-wrapper table.comparison .frequency {
    width: 108.8px; }
  .wrapper.competitivo .performance .specs-wrapper table.comparison .cores {
    width: 38.4px; }
  .wrapper.competitivo .performance .specs-wrapper table.comparison .threads {
    width: 89.6px; }
  .wrapper.competitivo .performance .specs-wrapper table.comparison .cache {
    width: 38.4px; }
  .wrapper.competitivo .performance .specs-wrapper table.comparison .locked {
    width: 25.6px; }
  .wrapper .intro {
    padding-left: 100px; }
    .wrapper .intro .headlines-wrapper h2 {
      font-size: 74.88px; }
    .wrapper .intro .headlines-wrapper p {
      font-size: 24.96px;
      margin-top: 19.2px; }
    .wrapper .intro .processor-info {
      margin: 76.8px 0 89.6px; }
      .wrapper .intro .processor-info img {
        margin-right: 38.4px;
        width: 108.8px; }
      .wrapper .intro .processor-info p {
        font-size: 19.5px; }
        .wrapper .intro .processor-info p span.blue {
          font-size: 30.72px; }
  .wrapper .performance {
    padding: 57.5px 100px 0; }
    .wrapper .performance .bullets-wrapper h2 {
      font-size: 68px; }
    .wrapper .performance .bullets-wrapper ul {
      padding-left: 108.8px;
      margin: 39.68px 0 0; }
      .wrapper .performance .bullets-wrapper ul li {
        margin: 22.4px 0;
        font-size: 19.2px; }
    .wrapper .performance .specs-wrapper table.comparison caption span {
      font-size: 37px; }
    .wrapper .performance .specs-wrapper table.comparison caption img {
      width: 89.6px;
      margin-left: 25.6px; }
    .wrapper .performance .specs-wrapper table.comparison tr.row td.left {
      width: 149.76px;
      height: 64px; }
      .wrapper .performance .specs-wrapper table.comparison tr.row td.left .data-wrapper p {
        font-size: 17.9px; }
    .wrapper .performance .specs-wrapper table.comparison tr.row td.right .data-wrapper {
      padding: 8.9px;
      padding-left: 76.8px;
      height: 64px;
      width: 281.6px; }
      .wrapper .performance .specs-wrapper table.comparison tr.row td.right .data-wrapper p {
        font-size: 19.2px;
        width: 83.2px; }
        .wrapper .performance .specs-wrapper table.comparison tr.row td.right .data-wrapper p span.smaller {
          font-size: 12.8px; }
  .wrapper .animation .animation-component-wrapper {
    padding: 0 100px; }
  .wrapper footer {
    padding: 5% 100px; }
    .wrapper footer p.legal {
      font-size: 10.88px; } }

/*# sourceMappingURL=style.css.map */
